<div class="" id="inicio" [ngClass]="DarkmodeService.darkmode ? 'landing--darkmode' : 'landing' ">
    <img class="landing__image" [ngClass]="DarkmodeService.darkmode ? 'landing__image--darkmode': '' " src="../../assets/images/header_noche.webp" alt="Imagen de noche del header" loading="lazy">
    <img class="landing__image" [ngClass]="!DarkmodeService.darkmode ? 'landing__image--darkmode': '' " src="../../assets/images/header_day.webp" alt="Imagen de dia del header" loading="lazy">
    <div class="landing__content">
        <h2 class="landing__nombre">Nombre de la persona</h2>
        <p class="landing__puesto">Puesto de la persona</p>
        <app-redes-sociales></app-redes-sociales>
    </div>

</div>
