<div class="redes">
    <div class="redes__div">
        <i class='bx bxl-facebook-square redes__icon ' [ngClass]="DarkmodeService.darkmode ? 'redes__icon--darkmode' : '' "></i>
    </div>
    <div class="redes__div">
        <i class='bx bxl-linkedin-square redes__icon' [ngClass]="DarkmodeService.darkmode ? 'redes__icon--darkmode' : '' "></i>
    </div>
    <div class="redes__div">
        <i class='bx bxl-github redes__icon' [ngClass]="DarkmodeService.darkmode ? 'redes__icon--darkmode' : '' "></i>
    </div>
    <div class="redes__div">
        <i class='bx bxl-instagram redes__icon' [ngClass]="DarkmodeService.darkmode ? 'redes__icon--darkmode' : '' "></i>
    </div>
</div>
