<div class="redes">
    <div class="redes__div">
        <i class='bx bxl-facebook-square redes__icon ' [ngClass]="DarkmodeService.darkmode ? 'redes__icon--darkmode' : '' "></i>
    </div>
    <div class="redes__div">
        <a href="https://www.linkedin.com/in/david-adame-soto-46ab9a207/" target="_blank">
            <i class='bx bxl-linkedin-square redes__icon' [ngClass]="DarkmodeService.darkmode ? 'redes__icon--darkmode' : '' "></i>
        </a>
    </div>
    <div class="redes__div">
        <a href="https://github.com/DavidXploidz" target="_blank">
            <i class='bx bxl-github redes__icon' [ngClass]="DarkmodeService.darkmode ? 'redes__icon--darkmode' : '' "></i>
        </a>
    </div>
    <div class="redes__div">
        <i class='bx bxl-instagram redes__icon' [ngClass]="DarkmodeService.darkmode ? 'redes__icon--darkmode' : '' "></i>
    </div>
</div>
