<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<app-header></app-header>
<app-landing></app-landing>
<main class="main" [ngClass]="DarkmodeService.darkmode ? 'main--darkmode' : '' ">
    <section class="acerca" id="acerca" >
        <h2 class="main__titulo" [ngClass]="DarkmodeService.darkmode ? 'main__titulo--darkmode' : '' ">Acerca de</h2>
        <div class="acerca__content">
            <img class="acerca__img" src="https://res.cloudinary.com/dypooembo/image/upload/v1674070518/myAvatar_rg4hcj.png" alt="image user">
            <div class="acerca__info">
                <h3 class="main__h3" [ngClass]="DarkmodeService.darkmode ? 'main__h3--darkmode' : '' ">Profesión</h3>
                <p class="main__p" [ngClass]="DarkmodeService.darkmode ? 'main__p--darkmode' : '' ">Mi nombre es bla bla bla, soy egresado de la escuela tal.</p>
                <ul class="acerca__ul">
                    <li class="acerca__li" [ngClass]="DarkmodeService.darkmode ? 'acerca__li--darkmode' : '' "><i class='bx bxs-chevron-right'></i> Nombre: <span class="acerca__span"> Mi nombre completo</span></li>
                    <li class="acerca__li" [ngClass]="DarkmodeService.darkmode ? 'acerca__li--darkmode' : '' "><i class='bx bxs-chevron-right'></i> Teléfono: <span class="acerca__span"> 555-555-55-55</span></li>
                    <li class="acerca__li" [ngClass]="DarkmodeService.darkmode ? 'acerca__li--darkmode' : '' "><i class='bx bxs-chevron-right'></i> Carrera: <span class="acerca__span"> Ingeniería en Infomática</span></li>
                    <li class="acerca__li" [ngClass]="DarkmodeService.darkmode ? 'acerca__li--darkmode' : '' "><i class='bx bxs-chevron-right'></i> Ciudad: <span class="acerca__span"> Durango, Dgo. México</span></li>
                </ul>
                <p class="main__p main__p--mb20" [ngClass]="DarkmodeService.darkmode ? 'main__p--darkmode' : '' ">Como Ing. Informático formado para el análisis y la toma de decisiones tengo experiencia en desarrollo de software, buenas prácticas, uso de metodologías ágiles, redacción y capacidad de adaptación.</p>
                <p class="main__p" [ngClass]="DarkmodeService.darkmode ? 'main__p--darkmode' : '' ">De fácil trato, actitud franca y respetuosa, establezco nexos laborales cordiales, proclives a crear un ambiente de trabajo productivo y comprometido con los objetivos de la empresa.</p>
                <div class="acerca__iconos" [ngClass]="DarkmodeService.darkmode ? 'acerca__iconos--darkmode' : '' ">
                    <i class='bx bxs-notepad'>+52</i>
                    <i class='bx bxs-timer'>+500</i>
                </div>
            </div>
        </div>
    </section>
    <section class="proyectos" id="proyectos">
        <h2 class="main__titulo" [ngClass]="DarkmodeService.darkmode ? 'main__titulo--darkmode' : '' ">Proyectos</h2>
        <div class="proyectos__grid">
            <div class="proyectos__card"  *ngFor="let proyecto of proyectos">
                <picture class="proyectos__picture">
                    <img class="proyectos__img" src="{{proyecto.imagen}}" alt="{{proyecto.nombre}}">
                </picture>
                <div class="proyectos__content">
                    <h3 class="main__h3 main__h3--sm" [ngClass]="DarkmodeService.darkmode ? 'main__h3--darkmode' : '' ">{{proyecto.nombre}}</h3>
                    <button class="proyectos__btn" [ngClass]="DarkmodeService.darkmode ? 'proyectos__btn--darkmode' : '' ">
                        <a href="{{proyecto.enlace}}" target="_blank">Ver proyecto</a>
                    </button>
                    <div class="proyectos__iconos" *ngFor="let icon of proyecto.tecnologias" [ngClass]="DarkmodeService.darkmode ? 'proyectos__iconos--darkmode' : '' ">
                        <i class='bx bxl-html5'  *ngIf="icon.html"></i>
                        <i class='bx bxl-css3'  *ngIf="icon.css"></i>
                        <i class='bx bxl-javascript' *ngIf="icon.js"></i>
                        <i class='bx bxl-angular' *ngIf="icon.angular"></i>
                        <i class='bx bxl-react'  *ngIf="icon.react" ></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="experiencia" id="experiencia">
        <h2 class="main__titulo" [ngClass]="DarkmodeService.darkmode ? 'main__titulo--darkmode' : '' ">Experiencia</h2>
        <div class="tabs">
            <button class="tabs__btn" (click)="selectTab('tab1')" [ngClass]="{'tabs__btn--darkmode': DarkmodeService.darkmode, 'tabs__btn--activo': selectedTab === 'tab1'}">Experiencia</button>
            <button class="tabs__btn" (click)="selectTab('tab2')" [ngClass]="{'tabs__btn--darkmode': DarkmodeService.darkmode, 'tabs__btn--activo': selectedTab === 'tab2'}">Educación</button>
          </div>
        <div class="tabs__container">
            <div class="tab" *ngIf="selectedTab === 'tab1'">
                <img class="tab__image" src="../assets/images/resume.png" alt="resumen image">
                <div class="tab__content">
                    <h4 class="tab__fecha">Septiembre 2021 <i class='bx bx-right-arrow-alt' ></i> Presente</h4>
                    <h5 class="main__h5" [ngClass]="DarkmodeService.darkmode ? 'main__h5--darkmode' : '' ">Desarrollador web Freelance, Durango</h5>
                    <p class="main__p" [ngClass]="DarkmodeService.darkmode ? 'main__p--darkmode' : '' ">
                        Experiencia desarrollando sitios web de manera práctica, cuento con portafolio de proyectos que he realizado, 
                        algunas tecnologías con las que puedo trabajar son HTML, CSS, JavaScript, 
                        librerías como REACT, Angular, TaildWind y Boostrap.
                    </p>
                    <h4 class="tab__fecha">Agosto 2022 <i class='bx bx-right-arrow-alt' ></i> Presente</h4>
                    <h5 class="main__h5" [ngClass]="DarkmodeService.darkmode ? 'main__h5--darkmode' : '' ">Desarrollador Frontend para Grupo Garza Limón</h5>
                    <p class="main__p" [ngClass]="DarkmodeService.darkmode ? 'main__p--darkmode' : '' ">
                        Estoy encargado de la mayoria de los proyectos de la empresa de la parte del frontend, 
                        haciendo los sitios web responsivos, aplicando estilos modernos, 
                        haciendo animaciones y cuidando en todo momento la experiencia de navegación del usuario en los sitios.
                    </p>
                </div>
            </div>
            <div class="tab" *ngIf="selectedTab === 'tab2'">
                <img class="tab__image" src="../assets/images/educacion3.png" alt="exp image">
                <div class="tab__content">
                    <h4 class="tab__fecha">2015 <i class='bx bx-right-arrow-alt' ></i> 2020</h4>
                    <h5 class="main__h5" [ngClass]="DarkmodeService.darkmode ? 'main__h5--darkmode' : '' ">Ing. Informática</h5>
                    <p class="main__p" [ngClass]="DarkmodeService.darkmode ? 'main__p--darkmode' : '' ">
                        Especialidad: Desarrollo de apps web <br>
                        Instituto Tecnológico de Durango <br>
                        Promedio de 88.43
                    </p>
                    <h4 class="tab__fecha">2020 <i class='bx bx-right-arrow-alt' ></i> 2022</h4>
                    <h5 class="main__h5" [ngClass]="DarkmodeService.darkmode ? 'main__h5--darkmode' : '' ">Cursos en Udemy</h5>
                    <p class="main__p" [ngClass]="DarkmodeService.darkmode ? 'main__p--darkmode' : '' ">
                        Udemy Desarrollo web completo con HTML, CSS, JS, PHP <br>
                        Udemy JavaScript Moderno <br>
                        Udemy React y Redux
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="contacto" id="contacto">
        <h2 class="main__titulo" [ngClass]="DarkmodeService.darkmode ? 'main__titulo--darkmode' : '' ">Contacto</h2>
        <div class="contacto__content">
            <div class="contacto__card"  [ngClass]="DarkmodeService.darkmode ? 'contacto__card--darkmode' : '' ">
                <i class='bx bx-map contacto__icon' [ngClass]="DarkmodeService.darkmode ? 'contacto__icon--darkmode' : ''"></i>
                <p class="main__p" [ngClass]="DarkmodeService.darkmode ? 'main__p--darkmode' : '' ">Ciudad</p>
                <p class="main__p" [ngClass]="DarkmodeService.darkmode ? 'main__p--darkmode' : '' ">Durango, Dgo.</p>
            </div>
            <div class="contacto__card" [ngClass]="DarkmodeService.darkmode ? 'contacto__card--darkmode' : '' ">
                <i class='bx bx-share-alt contacto__icon' [ngClass]="DarkmodeService.darkmode ? 'contacto__icon--darkmode' : ''"></i>
                <p class="main__p" [ngClass]="DarkmodeService.darkmode ? 'main__p--darkmode' : '' ">Redes Sociales</p>
                <app-redes-sociales></app-redes-sociales>
            </div>
            <div class="contacto__card" [ngClass]="DarkmodeService.darkmode ? 'contacto__card--darkmode' : '' ">
                <i class='bx bxs-chat contacto__icon' [ngClass]="DarkmodeService.darkmode ? 'contacto__icon--darkmode' : ''"></i>
                <p class="main__p" [ngClass]="DarkmodeService.darkmode ? 'main__p--darkmode' : '' ">Correo</p>
                <p class="main__p" [ngClass]="DarkmodeService.darkmode ? 'main__p--darkmode' : '' ">adamedavd@gmail.com</p>
            </div>
            <div class="contacto__card" [ngClass]="DarkmodeService.darkmode ? 'contacto__card--darkmode' : '' ">
                <i class='bx bx-phone-call contacto__icon' [ngClass]="DarkmodeService.darkmode ? 'contacto__icon--darkmode' : ''"></i>
                <p class="main__p" [ngClass]="DarkmodeService.darkmode ? 'main__p--darkmode' : '' ">Teléfono</p>
                <p class="main__p" [ngClass]="DarkmodeService.darkmode ? 'main__p--darkmode' : '' ">618-256-21-48</p>
            </div>
        </div>
    </section>
</main>
<div class="menuMobile" [ngClass]="{'menuMobile--activo' : MenuMobileService.menuMobile, 'menuMobile--darkmode' : DarkmodeService.darkmode}">
    
    <ul class="menuMobile__ul">
        <li class="menuMobile__li" (click)="cierraMenu()" [ngClass]="{'menuMobile__li--darkmode' : DarkmodeService.darkmode}">
            <a href="#inicio"><i class='bx bx-home'></i> inicio</a>
        </li>
        <li class="menuMobile__li" (click)="cierraMenu()" [ngClass]="{'menuMobile__li--darkmode' : DarkmodeService.darkmode}">
            <a href="#acerca"><i class='bx bx-user'></i> acerca de</a>
        </li>
        <li class="menuMobile__li" (click)="cierraMenu()" [ngClass]="{'menuMobile__li--darkmode' : DarkmodeService.darkmode}">
            <a href="#proyectos"><i class='bx bx-cabinet'></i> proyectos</a>
        </li>
        <li class="menuMobile__li" (click)="cierraMenu()" [ngClass]="{'menuMobile__li--darkmode' : DarkmodeService.darkmode}">
            <a href="#experiencia"><i class='bx bx-briefcase'></i> experiencia</a>
        </li>
        <li class="menuMobile__li" (click)="cierraMenu()" [ngClass]="{'menuMobile__li--darkmode' : DarkmodeService.darkmode}">
            <a href="#contacto"><i class='bx bx-mail-send'></i> contacto</a>
        </li>
    </ul>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
