/* You can add global styles to this file, and also import other style files */
:root{
    /* Colores */
    --Blue: #2c3e50;
    --BlueNight: #353b48;
    --BlueNavy: #273c75;
    --White: hsl(0, 0%, 98%);
    --Red: #e84118;
    --Green: #4cd137;
    --Yellow: #fbc531;
    --Gold: #e1b12c;
    --Gray: #dcdde1;
    --Electro: #2f3640;
    --NegroBlue: #1e272e;

    --Contenedor: 7vw;
    --transicion200ms: 200ms; 
    --transicion1000ms: 1000ms;
    --transicion1200ms: 1200ms;
    --transicion700ms: 700ms;

    /* Fuente */
    --fuentePrincipal: 'Ubuntu', sans-serif;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding: 10vh;

}
  *, *:before, *:after {
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
    font: inherit;
}
body{
    font-size: 16px;
    font-family: var(--fuentePrincipal);
    min-height: 100vh;
    padding: 0;
    margin: 0;
}
img, picture, svg, video{
    display: block;
    max-width: 100%;
}
input, textarea, button, select{
    font: inherit;
}
a{
    text-decoration: none;
    color: inherit;
}
/* Utilidades */
.contenedor{
    margin-inline: var(--Contenedor);
}